// animation
@keyframes rotateTraslatte{
    0%{
        transform: translateX(-12px) rotate(180deg);
    }
    25%{
        transform: translateX(-5px) rotate(360deg);
    }
    50%{
        transform: translateX(0px) rotate(540deg);
    }
    75%{
        transform: translateX(5px) rotate(720deg);
    }
    100%{
        transform: translateX(12px) rotate(900deg);
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
    
}

@keyframes fadeInX-X {
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}

@keyframes fadeInX {
    from{
        opacity: 0;
        transform: translateX(30px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}

@keyframes fadeInY {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
    
}

@keyframes linearAnimation {
    from{
        transform: translateX(100px);
    }
    to {
        transform: translateX(0px)
    }
}

@keyframes showUp {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes para {
    100% {
    background-position: 
        -5000px 20%,
        -800px 95%,
        500px 50%,
        1000px 100%,
        400px 0;
    }
}

@keyframes paraY {
    100% {
    background-position: 
        0 -5000px,
        0 500px,
        0 -500px,
        ;
    }
}

@keyframes jumpUpDown{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(3px);
    }
    50% {
        transform: translateX(8px);
    }
    75%{
        transform: translateX(3px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes shakeAnimation {
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(8px);
    }
    50% {
        transform: translateX(-8px);
    }
    75%{
        transform: translateX(8px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes rotate{
    0%{
        transform: rotate(-6deg);
    }
    50% {
        transform: rotate(6deg);
    }
    100%{
        transform: rotate(-6deg);
    }
}

@keyframes rotateY{
    0%{
        transform: rotateY(0deg);
    }
    25%{
        transform: rotateY(45deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    60%{
        transform: rotateY(135deg);
    }
    70%{
        transform: rotateY(180deg);
    }
    80%{
        transform: rotateY(225deg);
    }
    90%{
        transform: rotateY(280deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}